@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f1ee;
}

div.rbc-month-view {
  border: none;
}
.rbc-header + .rbc-header {
  border-left: none !important;
}

div.rbc-header {
  text-align: end;
  padding: 5px;
  padding-top: 0px;
  padding: 0 5px 5px;
}
div.rbc-date-cell {
  padding-top: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  div.rbc-header {
    text-align: end;
    padding: 5px;
    padding-top: 0px;
    padding: 0 10px 5px;
  }
  div.rbc-date-cell {
    padding-top: 5px;
    padding-right: 10px;
  }
}

div.rbc-date-cell a {
  padding: 5px;
}

.rbc-header span {
  font-weight: 400;
  font-size: 16px;
}

div.rbc-off-range-bg {
  background-color: white;
  color: inherit;
}

.rbc-date-cell.rbc-off-range {
  color: inherit;
}

.rbc-current a {
  background-color: #cc212d;
  padding: 0px;
  border-radius: 50%;
  font-weight: 400;
  color: white !important;
}

div.rbc-event {
  padding: 0;
  background-color: white;
  border-radius: 0px;
  height: 100%;
}

div.rbc-row-content {
  height: 100%;
}

div.rbc-row-content > .rbc-row:first-child {
  height: 30px;
}

div.rbc-row-content > .rbc-row:nth-child(2) {
  height: calc(100% - 30px);
}
div.rbc-row-segment {
  padding: 0;
}

div.rbc-event-content {
  overflow: visible !important;
}

.swiper-slide {
  opacity: 0.5;
  transform: scale(0.9) !important;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1) !important;
  z-index: 10;
}

.event-ball:not(:first-child) {
  display: none;
}

.swiper-container {
  overflow: visible !important;
}

@media (min-width: 992px) {
  .event-ball {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .swiper-container {
    overflow: hidden !important;
  }
}
